<html>
    <head>
      {% if title %}
      <title>{{ title }} - flask-example</title>
      {% else %}
      <title>Welcome to flask-example</title>
      {% endif %}
    </head>
    <body>
        <div>
            flask-example:
            <a href="{{ url_for('index') }}">主页</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">登录</a>
            <a href="{{ url_for('register') }}">注册</a>
            {% else %}
            <a href="{{ url_for('logout') }}">退出</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
